<%- include ("partials/header.ejs") %>
<style>
            body{
            		/*background: url(/stylesheet/bgcnt.gif) ;*/
                	background: url(/stylesheet/contact.gif) ;
                	height:20px;
  	                background-color: #ffffff;
	                background-size:30%;
	                /*margin-top:100px;*/
	                background-repeat:no-repeat;
	                justify-content:space-around;
	                /*background-position: bottom 30px;*/
	                /*background-attachment: fixed;*/
	                background-position: 440px 280px;

        }
        </style>
        
	<section class="contact">
		<br>
		<div class="content">
			<img src="/stylesheet/contactus.gif" style="width:340px;height:88px;"></img>
			<!--<h2><b> -->
			<!--<i class="fa fa-phone" aria-hidden="true"></i> </b></h2>-->
				<img class="contactus1" src="/stylesheet/ima(1).jpg" style="width:215px;height:170px;"></img>
				<img class="contactus2" src="/stylesheet/Health-Ministry-india (1).jpg" style="width:285px;height:190px;"></img>
		</div>
		<br>
		<br>
			<div class="container">
				<div class="contactInfo">
					<div class="myDetails">
					<div class="box">

						<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
						<div class="text">
							<h3><b> Postal Address </b></h3>
							<b><h4>Indian Medical Association (HQs.)</h4></b> I.M.A. House Indraprastha Marg, New Delhi-110 002, India
						</div>
					</div>

					<div class="box">

						<div class="icon"><i class="fa fa-envelope-open" aria-hidden="true"></i></div>
						<div class="text">
							<h3><b> Email</b></h3><br>
							<!--<p><b>khushi.04092000@gmail.com</b></p>-->
							<!--<p><b>hsg@ima-india.org</b></p><br>-->
							<b><h4>Hqs. office: </h4></b>hsg@ima-india.org<br><br>
							<b><h4>National President's Secretariat: </h4></b>np@ima-india.org<br><br>
							<b><h4>Membership related queries: </h4></b>ima.hqrs@gmail.com
							
						</div>
					</div>
					</div>



					<div class="box">

						<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
						<div class="text">
							<h3><b> Phone</b></h3><br>
							<!--<p><b>+91-7060003265</b></p>-->
							<!--<p><b>+91-11-23370009</b></p><br>-->
							<b><h4>Phone: </h4></b>+91-11-23370009 (10 lines), 23378680<br><br>
							<b><h4>Fax: </h4></b>+91-11-23379470
						 
						</div>
					</div>






				</div>


				<div class="contactForm register1">
					<form>
						<h3><b>Write us for any queries or suggestion:</b></h3>
						<br>
						<div class="inputBox">
							<span>First Name*</span><br>
							<input id="name" type="text" name="fname" required="required" placeholder=" Enter Your First Name">
							
						</div>

						<div class="inputBox">
							<span>Last Name*</span><br>
							<input id="name" type="text" name="lname" required="required" placeholder="Enter Your Last Name">
							
						</div>

						<div class="inputBox">
							<span>Email*</span><br>
							<input id="name" type="email" name="email" required="required" placeholder="Enter Your Email Id">
							
						</div>
						<div class="inputBox">
							<span>Subject of this Message*</span><br>
							<input id="name" type="text" name="data" placeholder="Subject of your Message" required="required">
							
						</div>
						<div class="inputBox">
							<span>Type Your Message Here*</span><br>
							<textarea id="name" required="required" rows="5" placeholder="Type Your Message"></textarea>
							
						</div>
						<br>
						<div class="inputBox">
							<input type="submit" name="" value="SEND">
						</div>



					</form>
				</div>
			</div>
			<br>
			<br>
			
		<iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.067273627858!2d77.24297741486265!3d28.627745782419737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0276dd3a19ff0f%3A0xc7e90f971cb87c9c!2sIndian%20Medical%20Association!5e0!3m2!1sen!2sin!4v1599386795494!5m2!1sen!2sin" width="415" height="200" frameborder="1" style="border:2px dotted black" allowfullscreen="" aria-hidden="false" tabindex="0" left="1px"></iframe>
			
			
			
			
			
<!--			<div id="map"></div>-->
<!--    <script>-->
<!--// Initialize and add the map-->
<!--function initMap() {-->
  <!--// The location of Uluru-->
<!--  var uluru = {lat: -25.344, lng: 131.036};-->
  <!--// The map, centered at Uluru-->
<!--  var map = new google.maps.Map(-->
<!--      document.getElementById('map'), {zoom: 4, center: uluru});-->
  <!--// The marker, positioned at Uluru-->
<!--  var marker = new google.maps.Marker({position: uluru, map: map});-->
<!--}-->
<!--    </script>-->
    <!--Load the API from the specified URL
<!--    * The async attribute allows the browser to render the page while the API loads-->
<!--    * The key parameter will contain your own API key (which is not needed for this tutorial)-->
<!--    * The callback parameter executes the initMap() function-->
<!--    -->-->
<!--    <script defer-->
<!--    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">-->
<!--    </script>-->

	</section>
	<%- include ("partials/footer.ejs") %>