<%- include ("partials/header.ejs") %>
    
<h1>LOGIN
<br>
<br>
<form class="register"  action =  "/login"  method="POST"    >
    <label><b>Username:*</b></label><br>
<input class= "username" id="name" type="username" name="username" placeholder="UserName" required autocomplete="on"><br>
<label><b>Password:*</b></label><br>
<input class="password" id="name" type="password" name="password" placeholder="Password" required="on"><br>
<br>
    <button type="Submit" class="button">LOGIN</button>
    </form>
    
    
</h1>


<%- include ("partials/footer.ejs") %>